.main-footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  height: var(--sidebar-footer-height);
  padding: 0 24px;
}