:root{
  --border-width : 1px;
  --border-radius : 2px;
  --input-padding-left : 10px;
  --input-padding-right : 10px;
  --shadow: 0 2px 10px rgba(110, 121, 133, .1), 0 10px 20px rgba(110, 121, 133, .1);

  /* scrollbar */
  --bar-width : 6px;

  /* input */
  --input-height : 32px;
  --elastic-height : 68px;

  /* main */
  --main : 250px;
}