.note-resizebar{
  display: none !important;
}
.note-editor.note-airframe, .note-editor.note-frame{
  border-color: var(--input-border) !important;
  border-radius: var(--border-radius) !important;
}
.note-toolbar{
  border-radius: var(--border-radius) !important;
  border-color: var(--input-border) !important;
}
.note-editor.note-airframe .note-statusbar, 
.note-editor.note-frame .note-statusbar{
  display: none !important;
}
.note-btn {
  border-color: var(--border-300) !important;
  color: var(--black) !important;
  padding: 5px 8px !important;
  font-size: var(--size-input) !important;
}
.note-frame{
  color: var(--input-color) !important;
  background: var(--input-bg-color) !important;
}